* {
  box-sizing: border-box;
}
.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.searchInput {
  width: 400px;
  height: 55px;
  border: 2px solid #c4c3c3;
  border-radius: 30px;
  padding-left: 15px;
  font-size: 16px;
}
.searchBtn {
  width: 120px;
  height: 55px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  background-color: #68929c;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}
.searchBtn:hover {
  background-color: #76a4af;
}